<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CaroneiroAPP</title>
</head>
<body>

    <h1>Olá {{name}}!</h1>
    <p>Este é o seu token para confirmação de seu email: {{token}}</p>


</body>
</html>